.c-message__body,
.c-message_attachment,
pre,
.channel_title .channel_name,
#channel_page_scroller,
#details_tab .feature_sli_channel_insights .channel_created_section .creator_link,
#details_tab .feature_sli_channel_insights .channel_purpose_section .channel_purpose_text,
#details_tab .channel_page_section .section_title,
.c-member__name--small,
.c-team__name--small,
.c-usergroup__name--small,
.c-member__display-name,
.c-team__display-name,
.c-usergroup__handle
{
	color: #CCC;
}
.c-message--light .c-message__sender .c-message__sender_link
{
	color: #9c9d9f;
}
.c-reation
{
	background-color: #EEE;
}
.c-mrkdwn__member--link,
.c-mrkdwn__subteam--link
{
	background-color: #4a556c;
}
a,
a:link
{
	color: #65A6D9;
}
a:hover,
.c-mrkdwn__member--link:hover,
.c-mrkdwn__subteam--link:hover
{
	color: #65A6D9;
	text-decoration: underline;
}
.c-message_attachment__border
{
	background-color: #666;
}
.c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
.c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight)
{
	background-color: #444;
}
.c-message_actions__container
{
	background-color: #444;
}
.c-message_actions__button
{
	color: #A1A2A4;
}
.c-menu
{
	background-color: #000;
}
.c-menu_item__button
{
	color: #8cAdC0;
}
c-menu_item__description
{
	color: #BBB;
}
.c-mrkdwn__mention,
.c-mrkdwn__mention:hover,
.c-mrkdwn__member--mention,
.c-mrkdwn__member--mention:hover,
.c-mrkdwn__broadcast--mention,
.c-mrkdwn__broadcast--mention:hover,
.c-mrkdwn__subteam--mention,
.c-mrkdwn__subteam--mention:hover
{
	background: #760;
}
.c-message__body pre,
.c-message__body code
{
	background-color: #666;
}
#col_flex,
#details_tab .channel_page_section
{
	background-color: #333;
}
.c-message__body code
{
	color: #EB9460;
	border: 1px solid #919198;
}
.c-message_list__unread_divider__label
{
	background-color: #CCC;
	color: #c71b2f;
}
.c-message_list__day_divider__label__pill
{
	background-color: #CCC;
}
.channel_header
{
	background-color: #222;
}
#flex_contents .heading
{
	background-color: #444;
}
p-downloads_list__heading_row heading_row,
#flex_contents .heading_text,
.flex_content_scroller,
.p-download_item__container .p-download_item__name_row
{
	color: #CCC;
}

